html{
    overflow: hidden;
}

#forModal{
    display: none;
    width: 50vw;
}

#sectionForImage{
    /* outline: 2px solid red; */
    width: clamp(25%, 35vw, 45%);
    height:80dvh;
    margin: 0.5rem;

    img{
        height: 100%;
    }
}

table{
  word-wrap: break-word;
}

/* From Uiverse.io by vinodjangid07 */ 
.card {
  width: 300px;
  height: fit-content;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  position: relative;
  box-shadow: 60px 60px 60px 60px rgba(0, 0, 0, 0.068);
}
.card-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card-heading {
  font-size: 20px;
  font-weight: 700;
  color: rgb(27, 27, 27);
}
.card-description {
  font-weight: 100;
  color: rgb(102, 102, 102);
}
.card-button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.card-button {
  width: 50%;
  height: 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.primary {
  background-color: rgb(255, 114, 109);
  color: white;
}
.primary:hover {
  background-color: rgb(255, 73, 66);
}
.secondary {
  background-color: #ddd;
}
.secondary:hover {
  background-color: rgb(197, 197, 197);
}
.exit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.exit-button:hover svg {
  fill: black;
}
.exit-button svg {
  fill: rgb(175, 175, 175);
}



#sectionForOthers{
    /* outline: 2px solid saddlebrown; */
    /* width: clamp(25%, 32vw, 45%); */
    width: 50%;
    margin-left: 49vw;
    margin-top: -82dvh;
    height: 99.5dvh;
    /* overflow-y: scroll;
    scroll-snap-type: none;
    scroll-behavior: smooth; */
}

#taskList{
    position: sticky;
    top: 10
}

#addTask{
    position: sticky;
    top: 10;
    margin-left:-30vw;
    padding: 4vw;
    margin-left: 13vw; margin-right: auto;
}

#popup-modal {
    max-width: 90%;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:300px ) and (max-width:1024px){
    #sectionForImage{
        /* outline: 2px solid red; */
        width: clamp(75%, 95vw, 98%);
        height:40dvh;
        margin: 0.8rem;
        margin: 0.55rem;

    
        img{
            height: 100%;
        }
    }

    #sectionForOthers{
        /* outline: 2px solid saddlebrown; */
        /* width: clamp(25%, 32vw, 45%); */
        width: 95%;
        margin-left: 0vw;
        margin-top: 0vh;
        height: 55dvh;
        overflow-y: scroll;
        scroll-snap-type: none;
        scroll-behavior: smooth;
        margin: 0.5rem;
        margin: 0.55rem;

    }

    @media (max-height:380px){
        #sectionForImage{
            display: none;
        }

        #sectionForOthers{
            height: 94dvh;
        }
    }
    
}

@media (max-width: 768px) {
    #popup-modal {
        width: 80vw;
        margin-left: 10vw;
        margin-right: 10vw;
    }
}